# Prepare data frame files for LASSO regression analyses

Script related to figure s7d

### Aim:
- Append normalized enrichment scores of pre-NACT matched samples and ratio pre/post TCRseq productive clonality

In [1]:
!python --version

Python 3.6.8 :: Anaconda custom (64-bit)

## Import packages

In [2]:
import numpy as np
import pandas as pd

In [3]:
home = '~/git_repos/HGSOC_TME_Heterogeneity/'

## Get sample labels

### Load file

In [4]:
file_keys = home + 'Data/5/NACT_SampleLabels.txt'

sample_labels = pd.read_csv(file_keys,
                            sep='\t',
                            index_col='Well')

sample_labels.head()

                       Name  Case_mRNA       NACT   Site Bounds
Well
A01         A01_3368A_Liver       3368  Untreated  other     in
A02         A02_3368B_Liver       3368    Treated  other    out
A03   A03_0371A_R_diaphragm        371  Untreated  other    out
A04   A04_0371B_R_diaphragm        371    Treated  other    out
A05       A05_9717A_R_ovary       9717  Untreated  ovary     in

In [5]:
sample_labels["Case_mRNA"] = sample_labels["Case_mRNA"].astype(str)

In [6]:
sample_labels.head()

                       Name Case_mRNA       NACT   Site Bounds
Well
A01         A01_3368A_Liver      3368  Untreated  other     in
A02         A02_3368B_Liver      3368    Treated  other    out
A03   A03_0371A_R_diaphragm       371  Untreated  other    out
A04   A04_0371B_R_diaphragm       371    Treated  other    out
A05       A05_9717A_R_ovary      9717  Untreated  ovary     in

In [7]:
matched = ["3368","371","9717","8674","2359","564","7765","6965","9347"]

sample_labels['Matched']=sample_labels['Case_mRNA'].isin(matched)

sample_labels.head()

                       Name Case_mRNA       NACT   Site Bounds  Matched
Well
A01         A01_3368A_Liver      3368  Untreated  other     in     True
A02         A02_3368B_Liver      3368    Treated  other    out     True
A03   A03_0371A_R_diaphragm       371  Untreated  other    out     True
A04   A04_0371B_R_diaphragm       371    Treated  other    out     True
A05       A05_9717A_R_ovary      9717  Untreated  ovary     in     True

### Keep matched samples only

In [8]:
sample_labels = sample_labels[sample_labels["Matched"] == True]

### Keep preNACT samples only

In [9]:
sample_labels = sample_labels[sample_labels["NACT"] == "Untreated"]

### Set sample ID as index

In [10]:
sample_labels["Well"] = sample_labels.index

In [11]:
sample_labels.set_index("Case_mRNA",
                        inplace = True)

In [12]:
sample_labels.head()

                                   Name       NACT   Site Bounds  Matched Well
Case_mRNA
3368                    A01_3368A_Liver  Untreated  other     in     True  A01
371               A03_0371A_R_diaphragm  Untreated  other    out     True  A03
9717                  A05_9717A_R_ovary  Untreated  ovary     in     True  A05
8674       A07_8674A_Bladder_peritoneum  Untreated  other     in     True  A07
2359                 A09_2359A_R_adnexa  Untreated  other     in     True  A09

## Load hallmark ssGSEA results

In [13]:
hallmark_nes = home + 'Data/5/HallmarksStromaImmune_NACT_NES.txt'

hallmark_nes = pd.read_csv(hallmark_nes,
                           sep='\t')

hallmark_nes.set_index('Term',
                   inplace=True)

hallmark_nes = hallmark_nes.T

hallmark_nes.head()

Term,HALLMARK_TNFA_SIGNALING_VIA_NFKB,HALLMARK_HYPOXIA,HALLMARK_CHOLESTEROL_HOMEOSTASIS,HALLMARK_MITOTIC_SPINDLE,HALLMARK_WNT_BETA_CATENIN_SIGNALING,HALLMARK_TGF_BETA_SIGNALING,HALLMARK_IL6_JAK_STAT3_SIGNALING,HALLMARK_DNA_REPAIR,HALLMARK_G2M_CHECKPOINT,HALLMARK_APOPTOSIS,...,HALLMARK_IL2_STAT5_SIGNALING,HALLMARK_BILE_ACID_METABOLISM,HALLMARK_PEROXISOME,HALLMARK_ALLOGRAFT_REJECTION,HALLMARK_SPERMATOGENESIS,HALLMARK_KRAS_SIGNALING_UP,HALLMARK_KRAS_SIGNALING_DN,HALLMARK_PANCREAS_BETA_CELLS,StromalSignature,ImmuneSignature
A01,0.092696,0.186010,0.255208,0.305218,0.218775,0.319309,0.063204,0.283149,0.366102,0.293164,...,0.206833,0.017703,0.157014,0.101102,0.059223,0.168870,-0.111366,-0.146457,0.068301,0.074691
A02,0.159109,0.196143,0.282680,0.317705,0.238017,0.390819,0.120196,0.355469,0.367244,0.323681,...,0.200714,0.013351,0.210357,0.187103,0.088553,0.199723,-0.116319,-0.171530,0.070667,0.169467
A03,0.221560,0.214819,0.285083,0.293826,0.212214,0.323519,0.219716,0.279329,0.272018,0.368760,...,0.254291,0.068881,0.159303,0.240944,-0.013733,0.262265,-0.122007,-0.229520,0.269651,0.345730
A04,0.210024,0.237168,0.260298,0.255306,0.256485,0.275202,0.167111,0.246652,0.212474,0.323310,...,0.236441,0.069575,0.211824,0.206219,0.075459,0.241376,-0.096597,-0.139607,0.224186,0.317359
A05,0.099785,0.192770,0.321267,0.278673,0.252541,0.274844,0.080244,0.286553,0.344719,0.301616,...,0.191664,0.046353,0.200961,0.113492,0.074904,0.125993,-0.106269,-0.137008,0.023423,0.069114

### Keep matched preNACT samples only

In [14]:
hallmark_nes = hallmark_nes[hallmark_nes.index.isin(sample_labels["Well"])]

## Load ConsensusTME ssGSEA results

In [15]:
consensus_nes = home + 'Data/5/ConsensusTME_NACT_NES.txt'

consensus_nes = pd.read_csv(consensus_nes,
                            sep='\t')

consensus_nes.set_index('Term',
                        inplace=True)

consensus_nes = consensus_nes.T

consensus_nes.head()

Term,B_cells,Cytotoxic_cells,Dendritic_cells,Endothelial,Eosinophils,Fibroblasts,Macrophages,Macrophages_M1,Macrophages_M2,Mast_cells,Monocytes,NK_cells,Neutrophils,Plasma_cells,T_cells_CD4,T_cells_CD8,T_cells_gamma_delta,T_regulatory_cells
A01,0.254477,0.160124,0.234120,0.141871,-0.104190,0.092419,0.267011,0.172090,0.181448,0.021926,0.230488,-0.020415,0.109183,0.326882,-0.151260,-0.124588,-0.121056,-0.171317
A02,0.183183,0.086828,0.242725,-0.031062,-0.001942,0.093467,0.283663,0.104845,0.196052,-0.115812,0.259149,-0.025268,0.248861,0.483244,-0.172278,-0.099327,-0.110020,-0.176621
A03,0.328434,0.250783,0.358290,0.359779,0.118276,0.304250,0.409127,0.295066,0.321067,0.041039,0.385862,0.020209,0.301314,0.484968,0.154900,0.098996,0.020995,0.124944
A04,0.222920,0.469283,0.249668,0.385954,0.292186,0.499391,0.284822,0.218594,0.312852,0.306526,0.320554,0.170785,0.433240,0.512587,0.069036,0.082092,0.065898,0.077918
A05,0.158446,0.149997,0.096655,-0.038934,-0.136142,0.034149,0.230793,0.127381,0.204350,-0.153834,0.200675,-0.097319,0.264777,0.253428,-0.212100,-0.169720,-0.180424,-0.287924

### Keep matched preNACT samples only

In [16]:
consensus_nes = consensus_nes[consensus_nes.index.isin(sample_labels["Well"])]

## Load NACT samples metadata

In [17]:
file_keys = home + 'Data/7/Metadata_TCRseq_Greenbaum.Callahan_2.6.17.tsv'

metadata = pd.read_csv(file_keys,
                       sep='\t',
                       skiprows=1)

metadata.head()

,Subject ID,Sample ID,Progression Free Survival (Days),"PFS Censored Status (0 = PF, 1=Progressed)",Overall Survival (Days),"OS Censored Status (0 = Alive, 1=Dead)",Type of Chemo,Number of Cycles,Platinum Sensitive,Age,C1D1,Date Last F/u,Status,Date of recurrence,Stage,Site Matched,Comments
0,3368,3368A,771,0,1995,0,Carbo/taxol,6,Y,54,09/11/10,26/04/16,AWD,19/12/12,IIIC,Y,NaN
1,3368,3368B,771,0,1995,0,Carbo/taxol,6,Y,55,09/11/10,26/04/16,AWD,19/12/12,IIIC,Y,NaN
2,7362,7362A,351,1,449,1,Carbo/taxol,6,N,76,04/10/10,27/12/11,DOD,20/09/11,IIIC,Y,NaN
3,7362,7362B,351,1,449,1,Carbo/taxol,6,N,77,04/10/10,27/12/11,DOD,20/09/11,IIIC,Y,NaN
4,371,0371A,900,1,1682,0,Carbo/taxol,3,Y,68,01/08/11,09/03/16,AWD,17/01/14,IV,Y,NaN

## Load TCRseq data

In [20]:
!ls ../../Data/7

Metadata_TCRseq_Greenbaum.Callahan_2.6.17.tsv
SampleOverview_04-08-2019_8-43-51_AM.tsv

In [21]:
file_tcr = home + 'Data/7/SampleOverview_02-02-2017_3-18-47_AM.tsv'

tcr_seq = pd.read_csv(file_tcr,
                      sep='\t')

tcr_seq.set_index('sample_name',
                  inplace=True)

tcr_seq.head()

,sample_cells,total_t_cells,fraction_productive_of_cells,total_rearrangements,productive_rearrangements,productive_clonality,max_productive_frequency,locus,sample_tags,sample_clonality,sample_entropy,productive_entropy,sample_cells_mass_estimate
sample_name,,,,,,,,,,,,,
6229A,145614,2402,0.016496,1305,1044,0.2386,13.316995,TCRB,"FFPE, Ovary, Tissue, Tumor",0.2178,8.0960,7.6355,no data
3935B2,49578,3795,0.076538,2980,2529,0.1499,6.004025,TCRB,"FFPE, Ovary, Tissue, Tumor",0.1401,9.9247,9.6095,no data
3397B,19843,1679,0.084607,1255,1040,0.1046,3.412843,TCRB,"FFPE, Ovary, Tissue, Tumor",0.1045,9.2176,8.9745,no data
3418B,93494,3472,0.037137,1713,1412,0.1188,2.675413,TCRB,"FFPE, Ovary, Tissue, Tumor",0.1125,9.5343,9.2207,no data
4425A,4758,312,0.065537,259,219,0.0819,5.481569,TCRB,"FFPE, Ovary, Tissue, Tumor",0.0753,7.4128,7.1380,no data

## Split data into pre (A) and post (B) NACT

### Exclude samples with low T cell count, since the sequencing then is unreliable

In [22]:
exc_patients = {'0511',
                '2050',
                '2058',
                '2359',
                '2945',
                '3582',
                '4997',
                '5219',
                '5660',
                '6902',
                '7678'} # due to low T cell count

In [23]:
def restart_dict(mdata):
    
    data_dict = {'matched_site': {}, 'non_matched_site': {}}
    
    for i, patient in enumerate(mdata['Subject ID']):

        if str(patient) not in exc_patients:

            if mdata['Site Matched'][i] == 'Y':
                
                data_dict['matched_site'][str(patient)] = {}
                
            elif mdata['Site Matched'][i] == 'N':
                
                data_dict['non_matched_site'][str(patient)] = {}
                
            else:
                
                raise ValueError()
                
    return data_dict

## Productive clonality

In [24]:
data_dict = restart_dict(metadata)

data_dict

{'matched_site': {'2585': {},
  '2703': {},
  '3114': {},
  '3368': {},
  '371': {},
  '4240': {},
  '564': {},
  '6965': {},
  '7362': {},
  '762': {},
  '7626': {},
  '7765': {},
  '824': {},
  '8674': {},
  '9347': {},
  '9717': {}},
 'non_matched_site': {'1545': {},
  '1573': {},
  '1941': {},
  '2220': {},
  '2568': {},
  '3328': {},
  '3397': {},
  '3418': {},
  '3935': {},
  '4160': {},
  '4425': {},
  '481': {},
  '511': {},
  '5244': {},
  '5441': {},
  '6229': {},
  '6648': {},
  '6986': {},
  '7818': {},
  '7858': {},
  '8089': {},
  '9883': {}}}

In [25]:
score = "productive_clonality"

### Calculate log2(post vs pre ratio) (i.e. > 0 expansion, < 0 compression of TCR clonotype)

In [26]:
for i, sample in enumerate(metadata['Sample ID']):

    patient = str(metadata['Subject ID'][i])

    if patient not in exc_patients:

        for match in data_dict:
            if patient in data_dict[match]:
                if sample not in data_dict[match][patient]:
                    data_dict[match][patient][sample] = tcr_seq[score][sample]
                else:
                    raise ValueError('sample already in patient')

In [27]:
data_dict["matched_site"]

{'2585': {'2585A': '0.0547', '2585B': '0.1789'},
 '2703': {'2703A': '0.0464', '2703B': '0.1209'},
 '3114': {'3114A': '0.0677', '3114B': '0.2117'},
 '3368': {'3368A': '0.1021', '3368B': '0.1804'},
 '371': {'0371A': '0.0959', '0371B': '0.1182'},
 '4240': {'4240A': '0.2075', '4240B': '0.1659'},
 '564': {'0564A': '0.1156', '0564B': '0.1270'},
 '6965': {'6965A': '0.1003', '6965B': '0.1109'},
 '7362': {'7362A': '0.0682', '7362B': '0.2360'},
 '762': {'0762A': '0.0480', '0762B': '0.0938'},
 '7626': {'7626A': '0.1185', '7626B': '0.1460'},
 '7765': {'7765A': '0.0843', '7765B': '0.1855'},
 '824': {'0824A': '0.1228', '0824B': '0.1635'},
 '8674': {'8674A': '0.1725', '8674B': '0.1662'},
 '9347': {'9347A': '0.1043', '9347B': '0.1554'},
 '9717': {'9717A': '0.0912', '9717B': '0.1470'}}

In [28]:
prepost_dict = {sample : None for sample in data_dict["matched_site"]}

In [29]:
for sample in prepost_dict:
    
    if len(sample) == 4:
    
        pre  = float(data_dict["matched_site"][sample][sample+"A"])
        post = float(data_dict["matched_site"][sample][sample+"B"])
        
    elif len(sample) == 3:
        
        pre  = float(data_dict["matched_site"][sample]["0"+sample+"A"])
        post = float(data_dict["matched_site"][sample]["0"+sample+"B"])
    
    fraction = post/pre
    
    prepost_dict[sample] = np.log2(fraction)

In [30]:
prepost_df = pd.DataFrame.from_dict(prepost_dict, orient='index')

prepost_df

             0
3368  0.821216
7362  1.790943
371   0.301627
9717  0.688710
8674 -0.053676
4240 -0.322797
564   0.135687
3114  1.644794
2585  1.709541
7765  1.137815
6965  0.144938
2703  1.381618
9347  0.575247
762   0.966554
824   0.412980
7626  0.301081

In [31]:
sample_labels.index

Index(['3368', '371', '9717', '8674', '2359', '564', '7765', '6965', '9347'], dtype='object', name='Case_mRNA')

In [32]:
sample_labels["TCR_post_pre"] = prepost_df[0]

In [33]:
sample_labels

,Name,NACT,Site,Bounds,Matched,Well,TCR_post_pre
Case_mRNA,,,,,,,
3368,A01_3368A_Liver,Untreated,other,in,True,A01,0.821216
371,A03_0371A_R_diaphragm,Untreated,other,out,True,A03,0.301627
9717,A05_9717A_R_ovary,Untreated,ovary,in,True,A05,0.688710
8674,A07_8674A_Bladder_peritoneum,Untreated,other,in,True,A07,-0.053676
2359,A09_2359A_R_adnexa,Untreated,other,in,True,A09,NaN
564,A11_0564A_Anterior_abdominal_wall,Untreated,other,out,True,A11,0.135687
7765,B02_7765A_Omentum,Untreated,omentum,out,True,B02,1.137815
6965,B04_6965A_Omentum,Untreated,omentum,out,True,B04,0.144938
9347,B06_9347A_Omentum,Untreated,omentum,out,True,B06,0.575247

### Drop sample without TCRseq data

In [34]:
sample_labels.dropna(inplace=True)

sample_labels

,Name,NACT,Site,Bounds,Matched,Well,TCR_post_pre
Case_mRNA,,,,,,,
3368,A01_3368A_Liver,Untreated,other,in,True,A01,0.821216
371,A03_0371A_R_diaphragm,Untreated,other,out,True,A03,0.301627
9717,A05_9717A_R_ovary,Untreated,ovary,in,True,A05,0.688710
8674,A07_8674A_Bladder_peritoneum,Untreated,other,in,True,A07,-0.053676
564,A11_0564A_Anterior_abdominal_wall,Untreated,other,out,True,A11,0.135687
7765,B02_7765A_Omentum,Untreated,omentum,out,True,B02,1.137815
6965,B04_6965A_Omentum,Untreated,omentum,out,True,B04,0.144938
9347,B06_9347A_Omentum,Untreated,omentum,out,True,B06,0.575247

In [35]:
sample_labels["Case_mRNA"] = sample_labels.index

sample_labels.set_index("Well",
                        inplace=True)

sample_labels

,Name,NACT,Site,Bounds,Matched,TCR_post_pre,Case_mRNA
Well,,,,,,,
A01,A01_3368A_Liver,Untreated,other,in,True,0.821216,3368
A03,A03_0371A_R_diaphragm,Untreated,other,out,True,0.301627,371
A05,A05_9717A_R_ovary,Untreated,ovary,in,True,0.688710,9717
A07,A07_8674A_Bladder_peritoneum,Untreated,other,in,True,-0.053676,8674
A11,A11_0564A_Anterior_abdominal_wall,Untreated,other,out,True,0.135687,564
B02,B02_7765A_Omentum,Untreated,omentum,out,True,1.137815,7765
B04,B04_6965A_Omentum,Untreated,omentum,out,True,0.144938,6965
B06,B06_9347A_Omentum,Untreated,omentum,out,True,0.575247,9347

## Append matched Hallmark NES + TCRseq prod clonality log2(post/pre)

In [36]:
hallmark_nes["TCR_post_pre"] = sample_labels["TCR_post_pre"]

In [37]:
hallmark_nes.head()

Term,HALLMARK_TNFA_SIGNALING_VIA_NFKB,HALLMARK_HYPOXIA,HALLMARK_CHOLESTEROL_HOMEOSTASIS,HALLMARK_MITOTIC_SPINDLE,HALLMARK_WNT_BETA_CATENIN_SIGNALING,HALLMARK_TGF_BETA_SIGNALING,HALLMARK_IL6_JAK_STAT3_SIGNALING,HALLMARK_DNA_REPAIR,HALLMARK_G2M_CHECKPOINT,HALLMARK_APOPTOSIS,...,HALLMARK_BILE_ACID_METABOLISM,HALLMARK_PEROXISOME,HALLMARK_ALLOGRAFT_REJECTION,HALLMARK_SPERMATOGENESIS,HALLMARK_KRAS_SIGNALING_UP,HALLMARK_KRAS_SIGNALING_DN,HALLMARK_PANCREAS_BETA_CELLS,StromalSignature,ImmuneSignature,TCR_post_pre
A01,0.092696,0.186010,0.255208,0.305218,0.218775,0.319309,0.063204,0.283149,0.366102,0.293164,...,0.017703,0.157014,0.101102,0.059223,0.168870,-0.111366,-0.146457,0.068301,0.074691,0.821216
A03,0.221560,0.214819,0.285083,0.293826,0.212214,0.323519,0.219716,0.279329,0.272018,0.368760,...,0.068881,0.159303,0.240944,-0.013733,0.262265,-0.122007,-0.229520,0.269651,0.345730,0.301627
A05,0.099785,0.192770,0.321267,0.278673,0.252541,0.274844,0.080244,0.286553,0.344719,0.301616,...,0.046353,0.200961,0.113492,0.074904,0.125993,-0.106269,-0.137008,0.023423,0.069114,0.688710
A07,0.100212,0.165283,0.292943,0.298289,0.242941,0.268170,0.067582,0.289978,0.302244,0.319309,...,0.077654,0.231538,0.149783,0.076341,0.154225,-0.102549,-0.239809,0.155407,0.135779,-0.053676
A09,0.108368,0.201645,0.286084,0.338190,0.262190,0.303502,0.069499,0.336732,0.376563,0.336610,...,0.034990,0.182819,0.131253,0.045937,0.180702,-0.136147,-0.164499,0.095977,0.063372,NaN

### Drop sample without TCRseq data

In [38]:
hallmark_nes.dropna(inplace=True)

### Save file

In [39]:
hallmark_nes.to_csv(
    "../../Data/7/Hallmark_NES_TCR_prodclon_diff.txt",
    sep = "\t"
)

## Append matched Consensus NES + TCRseq prod clonality log2(post/pre)

In [40]:
consensus_nes["TCR_post_pre"] = sample_labels["TCR_post_pre"]

In [41]:
consensus_nes.head()

Term,B_cells,Cytotoxic_cells,Dendritic_cells,Endothelial,Eosinophils,Fibroblasts,Macrophages,Macrophages_M1,Macrophages_M2,Mast_cells,Monocytes,NK_cells,Neutrophils,Plasma_cells,T_cells_CD4,T_cells_CD8,T_cells_gamma_delta,T_regulatory_cells,TCR_post_pre
A01,0.254477,0.160124,0.234120,0.141871,-0.104190,0.092419,0.267011,0.172090,0.181448,0.021926,0.230488,-0.020415,0.109183,0.326882,-0.151260,-0.124588,-0.121056,-0.171317,0.821216
A03,0.328434,0.250783,0.358290,0.359779,0.118276,0.304250,0.409127,0.295066,0.321067,0.041039,0.385862,0.020209,0.301314,0.484968,0.154900,0.098996,0.020995,0.124944,0.301627
A05,0.158446,0.149997,0.096655,-0.038934,-0.136142,0.034149,0.230793,0.127381,0.204350,-0.153834,0.200675,-0.097319,0.264777,0.253428,-0.212100,-0.169720,-0.180424,-0.287924,0.688710
A07,0.153616,0.183015,0.186520,-0.023180,0.022336,0.275705,0.320211,0.136686,0.279163,0.169580,0.258461,-0.071035,0.335685,0.334770,-0.146261,-0.167269,-0.143999,-0.345462,-0.053676
A09,0.227171,-0.013996,0.175394,0.143790,-0.069590,0.197222,0.312837,0.162905,0.175126,-0.023761,0.221378,-0.147071,0.206884,0.370180,-0.258183,-0.159959,-0.231617,-0.353342,NaN

### Drop sample without TCRseq data

In [42]:
consensus_nes.dropna(inplace=True)

### Save file

In [43]:
consensus_nes.to_csv(
    "../../Data/7/Consensus_NES_TCR_prodclon_diff.txt",
    sep = "\t"
)

# End script